@import url('dat.gui/0.7.7-custom.css');
@import url('vue/vue-json-pretty/1.8.0-custom.css');

.vjs-tree {
  font: 12px "M+2VM+IPAG circle Regular";
  font-weight:normal;
}

.dg{
  width:100% !important;
  font:11px 'M+2VM+IPAG circle Regular';
  li.cr,
  li.folder{
    border-left:none !important;
  }
  li.title{
    margin-left:0 !important;
  }
  li.cr select{
    font-family:'Meiryo';
  }
  li.cr.number input[type=text]{
    font-family:'Gidole Regular';
  }
  li.cr:last-child{
    border-bottom:none !important;
  }
  >.close-button{
    display:none;
  }
}