<!doctype html>
 <html>
  <head>

    <title>無題</title>

    <meta charset='utf-8'>
    <meta content='Yusuke Sano' name='author'>
    <meta content='新型コロナウイルス感染症の文書をＰＣから入力' name='description'>
    <meta content='telephone=no,address=no,email=no,date=no,url=no' name='format-detection'>
    <meta content='noimageindex,notranslate,nosnippet,noarchive,nofollow,noindex' name='robots'>
    <meta content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no' name='viewport'>

    <link href='js/jquery/Fomantic-UI/2.8.8-custom.css' rel='stylesheet'>
    <link href='asset/manifest.json' rel='manifest'>
    <link href='asset/favicon.ico' rel='icon'>

    <style>
      html,
      body{
        -webkit-text-stroke:.3px;
        font:12px 'M+2VM+IPAG circle Regular';
      }
      html,
      body,
      main,
      main .ui.grid,
      main .ui.grid > .row,
      main .ui.grid > .row > .column{
        height:100vh;
      }
      main{
        margin:0 auto;
        width:fit-content;
      }
   </style>
    <style>
      .ui.grid > .row > .column{
        height:100vh;
        overflow-y:scroll;
      }
      .ui.grid > .row > .column::-webkit-scrollbar{
        display:none;
      }
      .ui.grid > .row > .column:nth-child(1){
        width:428px;
        padding-left:5em !important;
      }
      .ui.grid > .row > .column:nth-child(2){
        width:210mm;
      }
   </style>
    <style>
      iframe{
        width:100%;
        height:100%;
        border:none;
        outline:none;
      }
   </style>
    <style>
      /*
       * FontAwesome v6.0.0
       */
       i.icon.i:before {
         content:"\49";
       }
       i.icon.t:before{
         content:"\54";
       }
       i.icon.earser:before{
         content:"\f12d";
       }
    </style>
     <style>
       .item .property-name{
         display:none;
       }
       .item .c{
         flex:1;
       }
    </style>
     <style>
      .dg .cr.focus{
        background:beige;
      }
      .column > .ui.segments{
        border-bottom: 2px solid rgba(34,36,38,.15) !important;
    box-shadow: rgb(16 36 94 / 40%) 0 2px 6px 0 !important;
      }
   </style>
 </head>
  <body>
    <main>
      <div class='ui grid internally celled'>
        <div class='row'>
          <div class='column'>
             <div class='ui segments block animate__animated animate__bounce' v-enter-to-next-input>
               <div class='ui segment block fitted'>
                 <div class='content fitted'>
                   <div class='ui card fluid basic'>
                     <div class='content'>
                       <img class='ui image floated left mini' src='asset/me.jpg'>
                       <div class='header'>
                         COVID-19 Case Report Generator
                      </div>
                       <div class='meta'>
                         <a href='https://www.mhlw.go.jp/bunya/kenkou/kekkaku-kansenshou11/01-shitei-01.html'>発生届</a>：2021/11/29 18:03:58（版）
                      </div>
                       <div class='description'>
                         発生届をＰＣから入力可能にしました。問題があれば<a href='http://twitter.com/wafflook' target='_blank'>連絡</a>下さい</p>
                      </div>
                    </div>
                  </div>
                </div>
                 <a class='ui label corner' @click='view.setting = !view.setting'>
                   <i class='icon setting'></i>
                </a>
              </div>
               <div class='ui segment block' v-if='view.setting'>
                 <div class='content fitted'>
                   <dat-gui>
                     <dat-folder name='カラー'>
                       <dat-color v-model='設定.listColor.text' label='文字色'></dat-color>
                       <dat-color v-model='設定.listColor.mark' label='塗潰色'></dat-color>
                    </dat-folder>
                     <dat-folder name='フォント'>
                       <dat-value v-model='設定.fontname' label='ファミリ' :values='_.keys(設定.listFont)'></dat-value>   
                    </dat-folder>
                     <dat-folder name='レンダリング'>
                       <dat-value v-model='view.waitDraw' label='入力をＰＤＦに反映' :values="{'０.５秒間入力がなければ反映':500,'１.０秒間入力がなければ反映':1000,'１.５秒間入力がなければ反映':1500}"></dat-value>
                    </dat-folder>
                  </dat-gui>
                </div>
              </div>
               <div class='ui segment block black'>
                 <div class='content fitted'>
                   <dat-gui expand>
                     <dat-value v-model='search' label='検索' placeholder='検索'></dat-value>
                  </dat-gui>
                </div>
              </div>
            </div>
             <div class='ui segments block'>
               <template v-for='name,i in documents'>
                 <div class='ui segment block green'>
                   <div class='content fitted'>
                     <div class='ui divided selection list'>
                       <a class='item' @click='(tab == name) ? tab = undefined : tab = name'>
                         {{name}}
                      </a>
                    </div>
                  </div>
                </div>
                 <template v-if='tab == name'>
                   <component ref='document' @update='drawPdf' :is='name'>
                     <template v-slot:header>
                       <div class='ui segment block fitted basic'>
                         <div class='content fitted'>
                           <div class='ui menu basic pointing icon'>
                             <a class='item' @click='view.dat.open = !view.dat.open' v-micron:m1="'pop'">
                               <i :class="['icon folder', view.dat.open ? 'open' : '']" id='m1'></i>
                            </a>
                             <a class='item' @click='view.dat.expand = !view.dat.expand' v-micron:m2="'pop'">
                               <i :class="['icon', view.dat.expand ? 'i' : 't']" id='m2'></i>
                            </a>
                             <a class='item' @click='view.fullScreen = !view.fullScreen' v-micron:m4="'pop'">
                               <i class='icon expand' id='m4'></i>
                            </a>
                          </div>
                        </div>
                      </div>
                       <div class='ui segment block fitted teal'>
                         <div class='ui label floating point right pointing teal'>
                           病院
                        </div>
                         <div class='content fitted'>
                           <dat-gui>
                             <dat-folder name='病院'>
                               <dat-value v-model='共通.医師の従事病院または診療所の名称' label='病院は？'></dat-value>
                               <dat-value v-model='共通.医師の従事病院または診療所の所在地' label='病院の住所は？'></dat-value>
                               <dat-value v-model='共通.医師の従事病院または診療所の電話番号'label='病院の連絡先は？' type='phone'></dat-value>
                               <dat-value v-model='共通.医師の従事病院または診療所の時間外の電話番号' label='診療時間外の連絡先は？' comment='診療時間外の連絡先' type='phone'></dat-value>
                            </dat-folder>
                          </dat-gui>
                        </div>
                      </div>
                       <div class='ui segment block fitted teal'>
                         <div class='ui label floating point right pointing teal'>
                           医師
                        </div>
                         <div class='content fitted'>
                           <dat-gui>
                             <dat-folder :name='`医師（${共通.医師の氏名}）` | toZen'>
                               <dat-value v-model='共通.医師の氏名' label='氏名は？'></dat-value>
                               <dat-value v-model='共通.医師の氏名の読み仮名' label='読み仮名は？'></dat-value>
                            </dat-folder>
                          </dat-gui>
                        </div>
                      </div>
                       <div class='ui segment block fitted teal'>
                         <div class="ui label floating point right pointing teal">
                           患者
                        </div>
                         <div class='content fitted'>
                           <dat-gui>
                             <dat-folder :name='`患者（${共通.患者のＩＤ}${共通.患者の氏名}）` | toZen'>
                               <dat-value v-model='共通.患者のＩＤ' label='患者ＩＤ' comment='患者のＩＤ'></dat-value>
                               <dat-value v-model='共通.患者の氏名' label='氏名は？' ></dat-value>
                               <dat-value v-model='共通.患者の読み仮名' label='読み仮名は？' ></dat-value>
                               <dat-value v-model='共通.患者の性別' label='性別は？' :values="['男','女']"></dat-value>
                               <dat-value v-model='共通.患者の生年月日' label='誕生は？' type='yyyymmdd' comment='患者の年齢'></dat-value>
                               <dat-value v-model='共通.患者の年齢' label='年齢は' readonly></dat-value>
                               <dat-value v-model='共通.患者の年齢のヶ月目' label='年齢のヶ月は' readonly></dat-value>
                               <dat-value v-model='共通.患者の職業' label='職業は？' comment='患者の職業'></dat-value>
                               <dat-value v-model='共通.患者の住所の県市区町村' label='住所（都道府県と市）は？' ></dat-value>
                               <dat-value v-model='共通.患者の住所' label='住所は？' comment='患者の住所'></dat-value>
                               <dat-value v-model='共通.患者の住所の電話番号' label='住所の連絡先は？'type='phone'></dat-value>
                               <dat-value v-model='共通.患者の所在地' label='所在地は？' comment='患者の住所と所在地'></dat-value>
                               <dat-value v-model='共通.患者の所在地の電話番号' label='所在地の連絡先は？' type='phone'></dat-value>
                            </dat-folder>
                          </dat-gui>
                        </div>
                      </div>
                       <div class='ui semgent block fitted' v-show='共通.患者の年齢 < 20'>
                         <div class='content fitted'>
                           <dat-gui>
                             <dat-folder :name='`保護（患者の${共通.患者の保護者の続柄}/${共通.患者の保護者の氏名}）` | toZen'>
                               <dat-value v-model='共通.患者の保護者の続柄' label='続柄は？' ></dat-value>
                               <dat-value v-model='共通.患者の保護者の氏名' label='氏名は？' ></dat-value>
                               <dat-value v-model='共通.患者の保護者の読み仮名' label='読み仮名は？' ></dat-value>
                               <dat-value v-model='共通.患者の保護者の住所' label='住所は？' ></dat-value>
                               <dat-value v-model='共通.患者の保護者の電話番号' label='連絡先は？' type='phone'></dat-value>
                           </dat-folder>
                          </dat-gui>
                        </div>
                      </div>
                    </template>
                     <template v-slot:footer>
                       <dat-gui>
                         <dat-value @click='download' label='download' ></dat-value>
                      </dat-gui>
                     </template>
                  </component>
                </template>
              </template>
            </div>
         </div>
          <div class='column'>
            <iframe :src='url'>
           </iframe>
         </div>
       </div>
     </div>
   </main>
 </body>
</html>
 <!-- JS -->
 <script src='js/lodash/5.0.0.js'></script>
 <script src='js/micron/1.1.6.js'></script>
 <script src='js/jaconv/1.0.4.js'></script>
 <script src='js/fontkit/1.1.0.js'></script>
 <script src='js/moment/2.29.1.js'></script>
 <script src='js/deepdash/5.3.9.js'></script>
 <script src='js/pdf-lib/1.16.0.js'></script>
 <script src='js/cleave.js/1.6.0.js'></script>
 <script src='js/moment-age/1.0.0.js'></script>
 <script src='js/moment/locale/ja.js'></script>
 <script src='js/localForage/1.9.0.js'></script>
 <script src='js/vue/http-vue-loader/1.4.2-custom.js'></script>
 <script src='js/FileSaver.js/2.0.5.js'></script>
 <script src='js/tabindent.js/0.1.8.js'></script>
 <script src='signature_pad.umd.js'></script>
 <script src='js/screenfull.js/5.1.0.js'></script>
 <script src='js/dat.gui/0.7.7-custom.js'></script>
 <script src='js/TinyColor/1.4.2-custom.js'></script>
 <!-- JQUERY -->
 <script src='js/jquery/4.0.0.js'></script>
 <script src='js/jquery/Fomantic-UI/2.8.8-custom.js'></script>
 <!-- VUE -->
 <script src='js/vue/2.6.14-custom.js'></script>
 <script src='js/vue/vue-router/2.8.1.js'></script>
 <script src='js/vue/vue-jaconv/0.0.1.js'></script>
 <script src='js/vue/vue-moment/4.1.0-custom.js'></script>
 <script src='js/vue/vue-reactive-refs/0.0.2.js'></script>
 <script src='js/vue/vue-dat-gui/0.0.1-custom.js'></script>
 <script src='js/vue/v-switch-case/1.0.3-custom.js'></script>
 <script src='js/vue/vue-json-pretty/1.8.0-custom.js'></script>
 <script src='js/vue/http-vue-loader/1.4.2-custom.js'></script>
 <script src='js/vue/vue-watch-all-plugin/1.0.7-custom.js'></script>
 <script src='js/vue/vue-directive-auto-resize/1.0.0-custom.js'></script>
 <script>
   Vue.config.silint         = true
   Vue.config.devtools       = true
   Vue.config.performance    = true
   Vue.config.forbiddenTag   = false
   Vue.config.productionTip  = false
</script>
 <script>
   Vue.use(VueDatGui)
   Vue.use(VueSwitch)
   Vue.use(VueMoment)
   Vue.use(VueJaconv)
   Vue.use(VueLoader)
   Vue.use(VueWatchAll)
   Vue.use(VueAutoResize)
   Vue.use(FocusTrapVue.DynamicReactiveRefs)
</script>
 <script>
   Vue.mixin({
     computed:{
       key:function(){
         return this.$options.name || this.$options._componentTag
       }
     },
     mounted:function(){
       if(this.key){
         this.$el.classList.add(this.key)
       }
     }
   })
</script>
 <script>
   Vue.directive('micron',{
     inserted:function(el,binding,vnode){
       vnode.context.$nextTick(function(){
         var id = binding.arg
         $(el).attr(id ? {
           'data-micron':binding.value,
           'data-micron-bind':true,
           'data-micron-id':id
         } : {
           'data-micron':binding.arg
         })
       })
     }
   })
   Vue.directive('enter-to-next-input',function(el,binding,vnode){
     var input
     var event = ['focus','keydown','focusout']
     var namespace = binding.arg
     vnode.context.$nextTick(function(){
       var self = this
       input = $([
         'button:visible',
         'select:visible',
         '.button',
         'input[type=text]:visible',
         'input[type=checkbox]:visible',
         'input[type=password]:visible'
       ].join(','),el)
       callback = {
         focus:async function(event){
           $(event.target).closest('.cr').addClass('focus')
         },
         focusout:function(event){
           $(event.target).closest('.cr').removeClass('focus')
         },
         keydown:function(event){
           if(event.keyCode == 13){
             var i = input.index(this)
             var n = (i+1) % input.length
             self.$nextTick(function(){
               input.eq(n).focus()
             })
             switch(input.eq(n).prop('localName')){
               /* case 'textarea': */
               case 'input':
                 return false;
             }
           }
         }
       }
       _.map(callback,function(func,event){
         event = event + '.' + namespace
         input.off(event)
         input.on(event,func)
       })
     })
   })
</script>
 <script>
   PDFLib.PDFPage.prototype.drawTextBox = function(text,options,fontSize){
     var form = this.doc.getForm()
     var textField = form.createTextField(`some.text.${(Math.random()*1e32).toString(36)}`)
         textField.setText(text)
         textField.setAlignment(PDFLib.TextAlignment.Left)
         textField.addToPage(this,_.merge(options,{
           borderColor:PDFLib.rgb(1,1,1),
           backgroundColor:PDFLib.rgb(1,1,1)
         }))
         textField.setFontSize(fontSize || 12)
         textField.enableReadOnly()
         textField.enableMultiline()
   }
   PDFLib.PDFPage.prototype.drawCheckBox = function(check,options){
     var form = this.doc.getForm()
     var checkBox = form.createCheckBox(`some.checkbox.${(Math.random()*1e32).toString(36)}`)
     checkBox.addToPage(this,_.merge(options,{
       width:6,
       height:6,
       borderColor:PDFLib.rgb(1,1,1),
       backgroundColor:PDFLib.rgb(1,1,1)
     }))
     checkBox.enableReadOnly()
     if(check){
       checkBox.check()
     }
   }  
   PDFLib.PDFPage.prototype.drawTextZen = function(text,options){
     this.drawText(jaconv.toZen(text),options)
   }
</script>
 <script>
   new Vue({
     el:'main',
     components:{
       '新型コロナウイルス感染症の発生届':'url:vue/新型コロナウイルス感染症の発生届.vue',
       '新型コロナウイルス感染症の自宅療養者等の診察所見報告書':'url:vue/新型コロナウイルス感染症の自宅療養者等の診察所見報告書.vue',
       'ラゲブリオ®カプセル200mgによる治療に係る同意説明文書':'url:vue/ラゲブリオ®カプセル200mgによる治療に係る同意説明文書.vue',
       'ラゲブリオ®カプセル200mg処方にあたっての適格性情報チェックリスト':'url:vue/ラゲブリオ®カプセル200mg処方にあたっての適格性情報チェックリスト.vue'
     },
     computed:{
       controllers:function(){
         return _.mapDeep(this.$refs.document[0].$children,_.identity,{childrenPath:'$children'})
       },
       documents:function(){
         var arr = _(this.$options.components).keys().without(this.$options.name).value()
         return (this.search != '') ? _.filter(arr, name=>name.indexOf(this.search) != -1) : arr
       },
       file:function(){
         return {
           Language:'ja',
           Title:`新型コロナウイルス感染症の文書`,
           Author:`Dr.${this.共通.医師の氏名}/${this.共通.医師の従事病院または診療所の名称}`,
           Subject:`Pt.${this.共通.患者の氏名}/${this.共通.患者の住所の電話番号}`,
           Keywords:['新型コロナウイルス感染症の発生届','新型コロナウイルス感染症自宅療養者等の診察所見報告書','ラゲブリオ®カプセル200mgによる治療に係る同意説明文書','ラゲブリオ®カプセル200mg処方にあたっての適格性情報チェックリスト'],
           CreationDate:moment('2022/02/26 04:00:00').toDate(),
           ModificationDate:moment(this.timestamp).toDate(),
          /*
           * 厚生労働省からダウンロードしたPDFはPDF-LIBで読み込めず
           * GoogleChromeから開いたPDFを印刷→PDFに保存してから読み込んだ（PDFium）
           */
           Creator:'PDFium',
          /*
           * pdfcreator vs. pdfproducer - PDF Metadata in Hyperref Hypersetup
           * https://tex.stackexchange.com/questions/590864/pdfcreator-vs-pdfproducer-pdf-metadata-in-hyperref-hypersetup
           */
           Producer:'COVID-19 Report Generator'
         }
       }
     },
     beforeCreate:function(){
       deepdash(_)
       moment.locale('ja')
     },
     watch:{
       'view.dat.open':function(b){
         for(folder of this.controllers.filter(o=>o.key=='DatFolder').map(o=>o.$_gui)){
           folder[b ? 'open' : 'close']()
         }
       },
       'view.dat.expand':function(b){
         for(folder of this.controllers.filter(o=>o.key=='DatGui'||o.key=='DatFolder').map(o=>o.$_gui)){
           folder.expand(b)
         }
       },
       'view.fullScreen':function(){
         screenfull.toggle()
       }
     },
     created:async function(){
       await this.loadFont()

       setInterval(() => {
         this.timestamp = moment().valueOf()
       }, 1000)


       this.$watchAll([
         {name:'設定',options:{deep:true}},
         {name:'共通',options:{deep:true}}
       ],_.debounce(async()=>{
         await this.loadFont()
         this.$refs.document[0].draw()
         
       },this.view.waitDraw))
     },
     data:{
       search:'',
       doc:null,
       tab:'',
       url:'',
       font:null,
       timestamp:0,
       view:{
         dat:{
           open:false,
           expand:false,
         },
         setting:false,
         waitDraw:1500,
         waitToast:15,
         fullScreen:false
       },
       設定:{
         fontname:'うずらフォント',
         listFont:{
           '851手書き雑フォント':'0.883.ttf',
           'M+2VM+IPAG circle Regular':'1.011.ttf',
           'あずきフォント':'1.21.ttf',
           'うずらフォント':'1.00.ttf',
           'Ｎちはやフォント+':'1.2.1.ttf'
         },
         listColor:{
           text:'#600dff',
           mark:'#ffff00'
         }
       },
       共通:{
         医師の氏名:'山田 茉',
         医師の氏名の読み仮名:'ヤマダ シオ',
         医師の印鑑:'',
         医師の従事病院または診療所の名称 :'山田医療東部センター',
         医師の従事病院または診療所の所在地:'秋田県北秋田郡上小阿仁村大字沖田面字小蒲野',
         医師の従事病院または診療所の電話番号:'827-128-9800',
         医師の従事病院または診療所の時間外の電話番号:'827-128-9800',
         患者のＩＤ:'3030896',
         患者の氏名:'山田 塩',
         患者の読み仮名:'ヤマダ シオ',
         患者の性別:'男',
         患者の生年月日:'1991/11/07',
         患者の年齢:'',
         患者の年齢のヶ月目:'',
         患者の職業:'医療関係者',
         患者の住所の県市区町村:'愛知県名古屋市海部郡',
         患者の住所:'飛島村大字飛島新田字竹之郷ヨタレ南ノ割（社宅）',
         患者の住所の電話番号:'050-5555-9800',
         患者の所在地:'東京都千代田区千代田１-１（現在・実家に帰省中）',
         患者の所在地の電話番号:'827-128-9800',
         患者の保護者の氏名:'霞が関',
         患者の保護者の読み仮名:'かすみがせき',
         患者の保護者の住所:'東京都千代田区霞が関三丁目２番５号',
         患者の保護者の電話番号:'827-128-9800',
         患者の保護者の続柄:'兄'
       }
     },




      methods:{
        download:async function(){
          _.each(this.file,(value,name)=>this.doc[`set${name}`](value))
          var ファイル名 = [
            moment().format(`NNNyy年MM月DD日HH時mm分`),
            `${this.tab}`,
            `Dr（${this.共通.医師の氏名}）`,
            `Pt（${this.共通.患者のＩＤ} ${this.共通.患者の氏名})`
          ].filter(Boolean).join('_')
          var file = new File([await this.doc.save()],`${ファイル名}.pdf`,{
            type:'application/pdf'
          })
          saveAs(file)
        },
        compute:function(){
         var date = moment(this.共通.患者の生年月日)
         if(date.isValid()){
           var age = moment().age(new Date(this.共通.患者の生年月日))
           this.共通.患者の年齢 = _.toString(age.years)
           this.共通.患者の年齢のヶ月目 = _.toString(age.months)
         }
       },
        drawPdf:async function(o){
          this.doc = o
          this.url = URL.createObjectURL(new Blob([await o.save()],{type:'application/pdf'}))
        },
        loadFont:async function(){
         var name = this.設定.fontname
         var path = this.設定.listFont[name]
         this.font = await fetch(`ttf/${name}/${path}`).then((responce)=>{
           return responce.arrayBuffer()
         })
       }
     }
   })
</script>
 <style>
   @import url('ttf/index.css');
   @import url('js/index.css');
   @import url('css/index.css');
</style>