<!doctype html>
 <html>
  <head>

    <title>COVID-19</title>

    <meta charset='utf-8'>
    <meta content='Yusuke Sano' name='author'>
    <meta content='新型コロナウイルス感染症の文書をＰＣから入力' name='description'>
    <meta content='telephone=no,address=no,email=no,date=no,url=no' name='format-detection'>
    <meta content='noimageindex,notranslate,nosnippet,noarchive,nofollow,noindex' name='robots'>
    <meta content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no' name='viewport'>

    <link href='js/jquery/Fomantic-UI/2.8.8-custom.css' rel='stylesheet'>
    <link href='asset/manifest.json' rel='manifest'>
    <link href='asset/favicon.ico' rel='icon'>

    <style>
      html,
      body{
        -webkit-text-stroke:.3px;
        font:12px 'M+2VM+IPAG circle Regular';
      }
      html,
      body,
      main,
      main .ui.grid,
      main .ui.grid > .row,
      main .ui.grid > .row > .column{
        height:100vh;
      }
      main{
        margin:0 auto;
        width:fit-content;
      }
   </style>
    <style>
      .ui.grid > .row > .column{
        height:100vh;
        overflow-y:scroll;
      }
      .ui.grid > .row > .column:nth-child(1){
        width:429px;
      }
      .ui.grid > .row > .column:nth-child(2){
        padding:0;
        width:230mm;
      }
   </style>
    <style>
      .ui.grid > .row > .column::-webkit-scrollbar{
        display:none;
      }
   </style>
    <style>
      .ui.segment{
        margin:6px;
      }
   </style>
    <style>
      .pdf,
      .pdf iframe{
        height:100%;
      }
      .pdf iframe{
        border:none;
        height:100%;
        display:block;
        width:100%;
      }
   </style>
    <style>
     /*
      * FontAwesome v6.0.0
      */
      i.icon.pen.marker:before {
        content:"\f5a1";
      }
      i.icon.virus.covid:before {
        content:"\e4a8";
      }
      i.icon.i:before {
        content:"\49";
      }
      i.icon.t:before{
        content:"\54";
      }
   </style>
    <style>
      i.icon{
        pointer-events:none;
      }
   </style>
    <style>
      .dg .cr.focus{
        background:beige;
      }
   </style>
 </head>
  <body>
    <main>
      <div class='ui grid internally celled'>
        <div class='row'>
          <div class='column' style='padding-left:5em;'>
            <div class='ui segments'>
              <div class='ui segment block'>
                <div class='content fitted'>
                  <div class='ui card fluid basic'>
                    <div class='content'>
                      <img class='ui image floated left mini' src='asset/me.jpg'>
                      <div class='header'>
                        COVID-19 Case Report Generator
                     </div>
                      <div class='meta'>
                        <a href='https://www.mhlw.go.jp/bunya/kenkou/kekkaku-kansenshou11/01-shitei-01.html'>発生届</a>：2021/11/29 18:03:58（版）
                     </div>
                      <div class='description'>
                        <p>発生届をＰＣから入力可能にしました。問題があれば<a href='http://twitter.com/wafflook' target='_blank'>連絡</a>下さい</p>
                     </div>
                   </div>
                   <a class='ui label corner' @click='app.setting = !app.setting'>
                    <i class='icon setting '></i>
                 </a>
                 </div>
               </div>
             </div>
             <div class='ui segment block black' v-if='app.setting'>
               <div class='ui label floating point right pointing black'>
                 設定
              </div>
              <div class='content fitted'>
                <dat-gui>
                  <dat-folder name='ＰＤＦをレンダリングを設定します' open>
                    <dat-value v-model='pdf.wait' label='入力をＰＤＦに反映' :values="{'０.５秒間入力がなければ反映':500,'１.０秒間入力がなければ反映':1000,'１.５秒間入力がなければ反映':1500}"></dat-value>
                 </dat-folder>
                  <dat-folder name='ＰＤＦのフォントを設定します' open>
                    <dat-value v-model='pdf.settings.fontname' label='ファミリ' :values='_.keys(font)'></dat-value>
                    <dat-color v-model='pdf.settings.color.mark' label='塗潰色'></dat-color>
                    <dat-color v-model='pdf.settings.color.text' label='文字色'></dat-color>
                 </dat-folder>
               </dat-gui>
             </div>
           </div>
              <div class='ui segment block blue'>
                <div class="ui label floating point right pointing blue">
                  選択
               </div>
                <div class='content fitted'>
                  <div class='ui divided selection list'>
                    <router-link class='item' :to="`/${encodeURIComponent('新型コロナウイルス感染症の発生届')}`">
                      新型コロナウイルス感染症の発生届
                   </router-link>
                    <router-link class='item' to='/b'>
                      新型コロナウイルス感染症の診療所見報告書
                   </router-link>
                 </div>
               </div>
             </div>
              <div class='ui segment block'>
                <div class='content fitted'>
                  <div class='ui menu basic pointing icon' ref='menu'>
                    <a class='item' data-tab='a' v-micron:m1="'jerk'">
                      <i class='icon pen marker' id='m1'></i>
                   </a>
                    <a class='item' @click='dat.open = !dat.open'>
                      <i :class="['icon folder', dat.open ? 'open' : '']"></i>
                   </a>
                    <a class='item' @click='dat.expand = !dat.expand'>
                      <i :class="['icon', dat.expand ? 'i' : 't']"></i>
                   </a>
                    <a class='item' @click='$refs.view.init()'>
                      <div class='ui label floating top blue'>
                        消
                     </div>
                      <i class='icon eraser'></i>
                   </a>
                    <a class='item right' @click='clear' v-micron:m2="'tada'">
                      <i class='icon trash' id='m2'></i>
                   </a>
                    <a class='item' data-tab='z' v-micron:m3="'jerk'">
                      <i class='icon terminal' id='m3'></i>
                   </a>
                  <a class='item' @click='app.fullscreen = !app.fullscreen' v-micron:m4="'pop'">
                    <i class='icon expand' id='m4'></i>
                  </a>
                 </div>
               </div>
             </div>             
           </div>
            <div class='ui tab' data-tab='a'>
              <div>
                <router-view :common='pdf' ref='view' v-if='ready'>
               </router-view>
             </div>
              <div>
                <div class='ui buttons'>
                  <button class='ui button' @click='$refs.view.save()'>DOWNLOAD</button>
               </div>
             </div>
           </div>
            <div class='ui tab' data-tab='z'>
              <portal-target class='debug' name='debug'>
             </portal-target>
           </div>
         </div>
          <div class='column'>
            <portal-target class='pdf' name='pdf'>
           </portal-target>
         </div>
       </div>
     </div>
   </main>
 </body>
</html>
 <!-- JS -->
 <script src='js/lodash/5.0.0.js'></script>
 <script src='js/micron/1.1.6.js'></script>
 <script src='js/jaconv/1.0.4.js'></script>
 <script src='js/fontkit/1.1.0.js'></script>
 <script src='js/moment/2.29.1.js'></script>
 <script src='js/deepdash/5.3.9.js'></script>
 <script src='js/pdf-lib/1.16.0.js'></script>
 <script src='js/cleave.js/1.6.0.js'></script>
 <script src='js/moment-age/1.0.0.js'></script>
 <script src='js/moment/locale/ja.js'></script>
 <script src='js/localForage/1.9.0.js'></script>
 <script src='js/FileSaver.js/2.0.5.js'></script>
 <script src='js/screenfull.js/5.1.0.js'></script>
 <script src='js/dat.gui/0.7.7-custom.js'></script>
 <script src='js/flattie/1.1.0-custom.js'></script>
 <script src='js/TinyColor/1.4.2-custom.js'></script>
 <script src='js/moment-duration-format/2.3.2.js'></script>
 <!-- JQUERY -->
 <script src='js/jquery/4.0.0.js'></script>
 <script src='js/jquery/Fomantic-UI/2.8.8-custom.js'></script>
 <!-- VUE -->
 <script src='js/vue/2.6.14-custom.js'></script>
 <script src='js/vue/vue-router/2.8.1.js'></script>
 <script src='js/vue/vue-jaconv/0.0.1.js'></script>
 <script src='js/vue/portal-vue/2.1.7-custom.js'></script>
 <script src='js/vue/vue-moment/4.1.0-custom.js'></script>
 <script src='js/vue/vue-dat-gui/0.0.1-custom.js'></script>
 <script src='js/vue/v-switch-case/1.0.3-custom.js'></script>
 <script src='js/vue/vue-json-pretty/1.8.0-custom.js'></script>
 <script src='js/vue/http-vue-loader/1.4.2-custom.js'></script>
 <script src='js/vue/vue-watch-all-plugin/1.0.7-custom.js'></script>
 <script>
  deepdash(_)
</script>
 <script>
   Vue.use(VueDatGui)
   Vue.use(VueSwitch)
   Vue.use(VueMoment)
   Vue.use(VueLoader)
   Vue.use(VuePortal)
   Vue.use(VueJaconv)
   Vue.use(VueWatchAll)
</script>
 <script>
   Vue.component('vue-json-pretty', VueJsonPretty.default)
</script>
 <script>
   Vue.mixin({
     data:function(){
       return{
         timestamp:0
       }
     },
     computed:{
       key:function(){
         return this.$options.name || this.$options._componentTag
       }
     },
     created:function(){
       setInterval(() => {
         this.timestamp = moment().valueOf()
       },1000)
     },
     mounted:function(){
       if(this.key){
         this.$el.classList.add(this.key)
       }
     },
     methods:{
       toast:function(type,message){
         $(document.body).toast({
           className      : {
             container    : 'ui toast-container block',
             box          : 'toast-box floating',
           },
           newestOnTop:true,
           displayTime:0,
           message:message,
           class:type
         })
       },
       toast_confirm:function(type,message,fnc_yes,fnc_no){
         $(document.body).toast({
           className      : {
             container    : 'ui toast-container block',
             box          : 'toast-box floating',
           },
           newestOnTop:true,
           classActions:'attached top',
           message:message,
           displayTime:0,
           class:type,
           actions:[{
             text:'はい',
             class:'green',
             click:fnc_yes
           },{
            text:'いいえ',
             class:'red',
             click:fnc_no
          }]
        })
       },
       年週日前:function(s){
         return s ? moment.duration(moment().diff(moment(s,'yyyy/mm/dd'))).format('Y年Mヶ月W週D日前')
                  : ''
       }
     }
   })
</script>
 <script>
   Vue.directive('micron',{
     inserted:function(el,binding,vnode){
       vnode.context.$nextTick(function(){
         var id = binding.arg
         $(el).attr(id ? {
           'data-micron':binding.value,
           'data-micron-bind':true,
           'data-micron-id':id
         } : {
           'data-micron':binding.arg
         })
       })
     }
   })
   Vue.directive('enter-to-next-input',function(el,binding,vnode){
     var input
     var event = ['focus','keydown','focusout']
     var namespace = binding.arg
     vnode.context.$nextTick(function(){
       var self = this
       input = $([
         'button:visible',
         'select:visible',
         'textarea:visible',
         'input[type=text]:visible',
         'input[type=checkbox]:visible',
         'input[type=password]:visible'
       ].join(','),el)
       callback = {
         focus:function(event){
           $(event.target).closest('.cr').addClass('focus')
           vnode.context.toast('info',$(event.target).closest('li').attr('comment'))
           console.dir($(event.target).closest('li').attr('comment'))
         },
         focusout:function(event){
           $(event.target).closest('.cr').removeClass('focus')
         },
         keydown:function(event){
           if(event.keyCode == 13){
             var i = input.index(this)
             var n = (i+1) % input.length
             self.$nextTick(function(){
               input.eq(n).focus()
             })
             switch(input.eq(n).prop('localName')){
               case 'textarea':
               case 'input':
                 return false;
             }
           }
         }
       }
       _.map(callback,function(func,event){
         event = event + '.' + namespace
         input.off(event)
         input.on(event,func)
       })
     })
   })
</script>
 <script>
   new Vue({
     el:'main',
     data:{
       app:{
         setting:false,
         fullscreen:false
       },
       dat:{
         open:false,
         expand:false
       },
       pdf:{
         font:null,
         wait:1000,
         settings:{
           fontname:'うずらフォント',
           color:{
             mark:'#ffff00',
             text:'#600dff'
           }
         }
       },
       font:{
         '851手書き雑フォント':'0.883.ttf',
         'M+2VM+IPAG circle Regular':'1.011.ttf',
         'あずきフォント':'1.21.ttf',
         'うずらフォント':'1.00.ttf',
         'Ｎちはやフォント+':'1.2.1.ttf'
       }
     },
     watch:{
       'dat.open':function(b){
         this.$refs.view.open(b)
       },
       'dat.expand':function(b){
         this.$refs.view.expand(b)
       },
       'app.fullscreen':function(){
         screenfull.toggle()
       },
       'ready':function(to,from){
         this.$nextTick(()=>{
           $('input.birthday').each(function(i,input){
             new Cleave(input,{delimiter:'-',blocks:[4,2,2]})
           })
           $('input.phone').each(function(i,input){
             new Cleave(input,{delimiter:'-',blocks:[3,4,4]})
           })
           $('input.mmdd').each(function(i,input){
             new Cleave(input,{date:true,datePattern:['m','d']})
           })
           $('input.yymmdd').each(function(i,input){
             new Cleave(input,{date:true,datePattern:['y','m','d']})
           })
           $('input.yyyymmdd').each(function(i,input){
             new Cleave(input,{date:true,datePattern:['Y','m','d']})
           })
         })
       }
     },
     computed:{
       ready:function(){
         return this.pdf.font != null
       }
     },
     methods:{
       clear:function(){
         var yes = function(){
           localforage.clear()
           location.reload()
         }
         this.toast_confirm('warning','前回の入力をクリアしますか？',yes)
       }
     },
     router:new VueRouter({
       linkActiveClass:'active',
       linkExactActiveClass:'',
       routes:[
         {
           name:'docs/新型コロナウイルス感染症の発生届.pdf',
           path:`/${encodeURIComponent('新型コロナウイルス感染症の発生届')}`,
           component:VueLoader('vue/新型コロナウイルス感染症の発生届.vue')
         },
         {
           name:'docs/新型コロナウイルス感染症の診療所見報告書.pdf',
           path:`/${encodeURIComponent('新型コロナウイルス感染症の診療所見報告書')}`,
           component:VueLoader('vue/新型コロナウイルス感染症の診察所見報告書.vue')
         }
       ]
     }),
     created:async function(){
       moment.locale('ja')
       PDFLib.PDFPage.prototype.drawTextZen = function(text,options){
         this.drawText(jaconv.toZen(text),options)
       }

     },
     mounted:function(){
        this.$watchAll([
          {name:'pdf.settings',options:{deep:true,immediate:true}}
        ],_.debounce(async (k,settings)=>{
          var name = settings.fontname
          var path = this.font[settings.fontname]
          this.pdf.font = await fetch(`ttf/${name}/${path}`).then((responce)=>{
            return responce.arrayBuffer()
          })
        },this.pdf.wait))
       $('.item',this.$refs.menu).tab({
         autoTabActivation:'a'
       })
     }
   })
</script>
 <style>
   @import url('js/index.css');
   @import url('ttf/index.css');
   @import url('css/index.css');
</style>