@charset "UTF-8";
@font-face {
  font-family: "M+2VM+IPAG circle Regular";
  src: url("M+2VM+IPAG circle Regular/1.011.ttf");
}
@font-face {
  font-family: "Share Tech Mono";
  src: url("Share Tech Mono/1.003.ttf");
}