/*
 * 基本
 */
.tree{
  margin:0;
  padding:0;
  --border-style:1px solid #ccc;
}
.tree li.node{
  list-style:none;
}
.tree ul,
.tree li.node{
  margin:0;
  padding:0;
  position:relative;
}
.tree li.node > div{
  display:inline-block;
}
/*
 * 調整
 */
.tree.cascade{
  margin-top:3px;
  margin-right:6px;
  margin-bottom:3px;
}
.tree.pipe{
  display:flex;
  margin:3px 0;
}
.tree.vertical{
  margin:0 3px;
}
.tree.horizontal{
  margin-top:3px;
  margin-bottom: 3px;
  margin-right:6px;
}
/*
 * 構造
 */
 .tree:not(:empty):after,
 .tree:not(:empty):before,
 .tree ul:not(:empty):after,
 .tree ul:not(:empty):before,
 .tree li.node:not(:empty):after,
 .tree li.node:not(:empty):before{
   content:'';
   display:block;
   position:absolute;
}
/*
 * 階段
 */
.tree.cascade li.node{
  margin-left:12px;
}
.tree.cascade>li.node{
  margin-left:6px;
}
.tree.cascade li.node>div{
  margin-top:3px;
}
.tree.cascade li.node:after{
  top:12px;
  width:6px;
  left:-6px;
  border-top:var(--border-style);
}
.tree.cascade li.node:before{
  top:0;
  width:0;
  left:-6px;
  height:100%;
  border-left:var(--border-style);
}
.tree.cascade li.node:last-child:before{
  top:0;
  height:12px;
}
.tree.vertical li.node:last-child:after{
  height:0;
  width:50%;
  right:50%;
  border-top:1px soli #ddd;
}
.tree.cascade>li.node:first-child:before{
  top:12px;
}
.tree.vertical li.node:first-child:after{
  height:0;
  left:50%;
  width:50%;
  border-top:var(--border-style);
}
.tree.horizontal li.node:last-child:before{
  top:auto;
  height:50%;
  bottom:50%;
}
.tree.horizontal li.node:first-child:before{
  top:50%;
  height:50%;
}
/*
 * 垂直
 */
.tree.vertical{
  display:flex;
}
.tree.vertical ul{
  display:flex;
  justify-content:center;
}
.tree.vertical li.node{
  display:flex;
  align-items:center;
  flex-direction:column;
}
.tree.vertical li.node>div{
  margin:6px 3px;
}
.tree.vertical li.node:after {
  top:0;
  left:0;
  height:0;
  width:100%;
  border-top:var(--border-style);
}
.tree.vertical li.node:before{
  top:0;
  width:0;
  height:6px;
  border-left: var(--border-style);
}
.tree.vertical li.node ul:before {
  width:0;
  top:-6px;
  height:6px;
  border-left:var(--border-style);
}
/*
 * 水平
 */
.tree.horizontal li.node{
  display:flex;
  margin-left:12px;
  align-items:center;
}
.tree.horizontal>li.node{
  margin-left:6px;
}
.tree.horizontal li.node>div{
  margin-top:3px  ;
}
.tree.horizontal li.node:before{
  top:0;
  width:0;
  left:-6px;
  height:100%;
  border-left:var(--border-style);
}
.tree.horizontal li.node:after,
.tree.horizontal li.node ul:after{
  top:50%;
  height:0;
  width:6px;
  left:-6px;
  border-top:var(--border-style);
}
.tree.horizontal li.node ul:after{
  left:0;
}
/*
 * ┣ -> ┃　縦線から２つ目のノードに伸びる線を消す
 */
 .tree.vertical li.node:only-child:after{
  content:none;
}
/*
 * ┻ -> ━　横線から２つ目のノードに伸びる線を消す
 */
.tree.pipe li.node:only-child:before {
  content: none;
}
/*
 * ┳ -> ━　横線から２つ目のノードに伸びる線を消す
 */
.tree.horizontal li.node:only-child:before{
  content:none;
}
/*
 * 垂直の枝分かれ
 */
.tree.vertical li.cascade.node,
.tree.vertical.cascade-1>li.node,
.tree.vertical.cascade-2>li.node>ul>li.node,
.tree.vertical.cascade-3>li.node>ul>li.node>ul>li.node,
.tree.vertical.cascade-4>li.node>ul>li.node>ul>li.node>ul>li.node{
  padding:0 3px;
  margin-bottom:6px;
  align-items:start;
  flex-direction:column;
}
.tree.vertical li.cascade.node:before,
.tree.vertical.cascade-1>li.node:before,
.tree.vertical.cascade-2>li.node>ul>li.node:before,
.tree.vertical.cascade-3>li.node>ul>li.node>ul>li.node:before,
.tree.vertical.cascade-4>li.node>ul>li.node>ul>li.node>ul>li.node:before{
  left:12px;
}
.tree.vertical li.cascade.node:after,
.tree.vertical.cascade-1>li.node:after,
.tree.vertical.cascade-2>li.node>ul>li.node:after,
.tree.vertical.cascade-3>li.node>ul>li.node>ul>li.node:after,
.tree.vertical.cascade-4>li.node>ul>li.node>ul>li.node>ul>li.node:after{
  left:0;
}
.tree.vertical li.cascade.node:first-child:after,
.tree.vertical.cascade-1>li.node:first-child:after,
.tree.vertical.cascade-2>li.node>ul>li.node:first-child:after,
.tree.vertical.cascade-3>li.node>ul>li.node>ul>li.node:first-child:after,
.tree.vertical.cascade-4>li.node>ul>li.node>ul>li.node>ul>li.node:first-child:after{
  left:12px;
  width:100%;
}
.tree.vertical li.cascade.node:last-child:after,
.tree.vertical.cascade-1>li.node:last-child:after,
.tree.vertical.cascade-2>li.node>ul>li.node:last-child:after,
.tree.vertical.cascade-3>li.node>ul>li.node>ul>li.node:last-child:after,
.tree.vertical.cascade-4>li.node>ul>li.node>ul>li.node>ul>li.node:last-child:after{
  left:0;
  width:12px;
}
.tree.vertical li.cascade.node ul,
.tree.vertical.cascade-1>li.node ul,
.tree.vertical.cascade-2>li.node>ul>li.node ul,
.tree.vertical.cascade-3>li.node>ul>li.node>ul>li.node ul,
.tree.vertical.cascade-4>li.node>ul>li.node>ul>li.node>ul>li.node ul,
.tree.vertical li.cascade.node li.node,
.tree.vertical.cascade-1>li.node li.node,
.tree.vertical.cascade-2>li.node>ul>li.node li.node,
.tree.vertical.cascade-3>li.node>ul>li.node>ul>li.node li.node,
.tree.vertical.cascade-4>li.node>ul>li.node>ul>li.node>ul>li.node li.node{
  display: block;
}
.tree.vertical.cascade-1>li.node ul:before,
.tree.vertical.cascade-2>li.node>ul>li.node ul:before,
.tree.vertical.cascade-3>li.node>ul>li.node>ul>li.node ul:before,
.tree.vertical.cascade-4>li.node>ul>li.node>ul>li.node>ul>li.node ul:before,
.tree.vertical li.cascade.node ul:before,
.tree.vertical.cascade-1>li.node ul:after,
.tree.vertical.cascade-2>li.node>ul>li.node ul:after,
.tree.vertical.cascade-3>li.node>ul>li.node>ul>li.node ul:after,
.tree.vertical.cascade-4>li.node>ul>li.node>ul>li.node>ul>li.node ul:after,
.tree.vertical li.cascade.node ul:after,
.tree.vertical.cascade-1>li.node li.node:before,
.tree.vertical.cascade-2>li.node>ul>li.node li.node:before,
.tree.vertical.cascade-3>li.node>ul>li.node>ul>li.node li.node:before,
.tree.vertical.cascade-4>li.node>ul>li.node>ul>li.node>ul>li.node li.node:before,
.tree.vertical li.cascade.node li.node:before,
.tree.vertical.cascade-1>li.node li.node:after,
.tree.vertical.cascade-2>li.node>ul>li.node li.node:after,
.tree.vertical.cascade-3>li.node>ul>li.node>ul>li.node li.node:after,
.tree.vertical.cascade-4>li.node>ul>li.node>ul>li.node>ul>li.node li.node:after,
.tree.vertical li.cascade.node li.node:after {
  border:none;
}
.tree.vertical li.cascade.node>div,
.tree.vertical li.cascade.node li.node>div,
.tree.vertical.cascade-1 li.node > div,
.tree.vertical.cascade-2 li.node>ul>li.node > div,
.tree.vertical.cascade-3 li.node>ul>li.node>ul>li.node > div,
.tree.vertical.cascade-4 li.node>ul>li.node>ul>li.node>ul>li.node > div{
  margin:0;
  margin-top:6px;
}
.tree.vertical li.cascade.node li.node,
.tree.vertical.cascade-1>li.node li.node,
.tree.vertical.cascade-2>li.node>ul>li.node li.node,
.tree.vertical.cascade-3>li.node>ul>li.node>ul>li.node li.node,
.tree.vertical.cascade-4>li.node>ul>li.node>ul>li.node>ul>li.node li.node
{
  margin-left:12px;
}
.tree.vertical li.cascade.node li.node:before,
.tree.vertical.cascade-1>li.node li.node:before,
.tree.vertical.cascade-2>li.node>ul>li.node li.node:before,
.tree.vertical.cascade-3>li.node>ul>li.node>ul>li.node li.node:before,
.tree.vertical.cascade-4>li.node>ul>li.node>ul>li.node>ul>li.node li.node:before{
  top:0;
  width:0;
  left:-6px;
  height:100%;
  border-left:var(--border-style);
}
.tree.vertical li.cascade.node li.node:after,
.tree.vertical.cascade-1>li.node li.node:after,
.tree.vertical.cascade-2>li.node>ul>li.node li.node:after,
.tree.vertical.cascade-3>li.node>ul>li.node>ul>li.node li.node:after,
.tree.vertical.cascade-4>li.node>ul>li.node>ul>li.node>ul>li.node li.node:after{
  height:0;
  top:12px;
  width:6px;
  left:-6px;
  content:'';
  border-top:var(--border-style);
}
.tree.vertical li.cascade.node li.node:last-child:before,
.tree.vertical.cascade-1>li.node li.node:last-child:before,
.tree.vertical.cascade-2>li.node>ul>li.node li.node:last-child:before,
.tree.vertical.cascade-3>li.node>ul>li.node>ul>li.node li.node:last-child:before,
.tree.vertical.cascade-4>li.node>ul>li.node>ul>li.node>ul>li.node li.node:last-child:before{
  top:0;
  height:12px;
}
/*
 * 並列
 */
.tree.pipe ul{
  z-index:999;
  background:white;
}
.tree.pipe li.node{
  display:flex;
  margin-left:12px;
  margin-right:6px;
  align-items:center;
}
.tree.pipe>li.node{
  margin-right:0;
  margin-left:6px;
}
.tree.pipe li.node>div{
  margin:1px 0;
  z-index:999;
}
.tree.pipe li.node:after,
.tree.pipe li.node ul:after{
  top:50%;
  height:0;
  left:-6px;
  width:calc(100% + 12px);
  border-top:var(--border-style);
}
.tree.pipe>li.node:after,
.tree.pipe>li.node ul:after{
  width:6px;
}
.tree.pipe li.node ul:after {
  left:0;
}
.tree.pipe>li.node ul>li.node:before{
  left:-6px;
  height:100%;
  border-top:none;
  border-bottom:none;
  width:calc(100% + 12px);
  border-left:var(--border-style);
  border-right:var(--border-style);
}
.tree.pipe>li.node ul>li.node:last-child:before{
  top:auto;
  height:50%;
  bottom:50%;
}
.tree.pipe>li.node ul>li.node:first-child:before{
  top:50%;
  height:50%;
}
/*
 * ┃ ->   ルートノードの場合は上に伸びる線を消す
 */
.tree.pipe:not(.fork) > li.node:first-child:after{
  content: none;
}
.tree:not(.fork).cascade > li.node:only-child:before,
.tree:not(.fork).cascade > li.node:only-child:after{
  content: none;
}
.tree:not(.fork).vertical > li.node:only-child:before, 
.tree:not(.fork).vertical > li.node:only-child:after{
  content: none;
}
.tree:not(.fork).horizontal > li.node:only-child:before,
.tree:not(.fork).horizontal > li.node:only-child:after{
  content: none;
}
/*
 * ┏━┓ -> ┃ ┃ 最上位のノードを纏める横線を消して縦線だけにする
 */
.tree.fork.cascade>li.node:first-child:before,
.tree.fork.cascade>li.node:last-child:before,
.tree.fork.cascade>li.node:before{
  border-left:none;
}
.tree.fork.vertical>li.node:first-child:after,
.tree.fork.vertical>li.node:last-child:after,
.tree.fork.vertical>li.node:after {
  border-top:none;
}
.tree.fork.horizontal>li.node:first-child:before,
.tree.fork.horizontal>li.node:last-child:before,
.tree.fork.horizontal>li.node:before {
  border-left:none;
}
/*
 * 反転
 */
.tree.horizontal.flip > li.node,
.tree.horizontal.flip li.node > div{
  transform:scaleX(-1);
}
.tree.vertical.flip > li.node,
.tree.vertical.flip li.node > div{
  transform:scaleY(-1);
}
.tree.cascade.flip > li.node,
.tree.cascade.flip li.node > div{
  transform:scaleX(-1);
}
.tree.pipe.flip > li.node,
.tree.pipe.flip li.node > div{
  transform:scaleX(-1);
}
.tree.pipe.flip{
  display: flex;
  flex-direction: row-flip;
}
/*
 * 凸なし
 */
.float.tree.horizontal>li.node:after{
  display:none;
}
.float.tree.vertical>li.node:before{
  display:none;
}
.float.tree.pipe>li.node:first-child:after{
  display:none;
}
.float.tree.cascade>li.node:after{
  display:none;
}
/*
 * 横１列
 */
.tree.cascade.fork.float.row{
  display:flex;
}
/*
 * 入れ子
 */
.tree.cascade .tree.vertical li.node{
  margin-left:0;
}
.tree.cascade .tree.vertical li.node:before{
  left:initial;
}
.tree.cascade .tree.vertical li.node>div{
  margin-top:6px;
}
.tree.cascade .tree.vertical li.node:last-child:before{
  height:6px;
}
.tree.cascade .tree.cascade li.node{
  margin-left:12px;
}
.tree.cascade .tree.cascade>li.node{
  margin-left:6px;
}
.tree.cascade .tree.cascade li.node>div{
  margin-top:3px;
}
.tree.cascade .tree.horizontal li.node{
  margin-left:12px;
}
.tree.cascade .tree.horizontal>li.node{
  margin-left:6px;
}
.tree.cascade .tree.horizontal li.node>div{
  margin-top:3px;
}
.tree.cascade .tree.pipe li.node{
  margin-left:12px;
}
.tree.cascade .tree.pipe>li.node{
  margin-left:6px;
}
.tree.cascade .tree.pipe>li.node:before{
  border-left:none;
}